.inner {
  min-height: calc(100vh - 217px);
  padding-bottom: 20px;
  > h1 {
    text-transform: uppercase;
  }
}

.MuiAccordion-root:before {
  display: none;
}

.changeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.styleTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 47px;
  text-transform: uppercase;
  color: #c1c1c1;
}

.secondaryTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #3f3f3f;
}

.selectionAccordion {
  &::before {
    display: none;
  }
  &__text {
    display: flex;
    align-items: center;

    svg {
      margin: 0 10px 0 60px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    button {
      width: 30%;
      font-size: 18px;
      line-height: 28px;
      margin: 10px;
    }
  }
}

.serviceAccordion {
  &::before {
    display: none;
  }

  &__container {
    max-width: 820px;
    width: 100%;

    .description {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      color: #5a5a5a;
      margin: 25px 0 35px;
      display: block;
    }

    .servicesItems {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__item {
        background: #f2f2f2;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 145px;
        height: 150px;
        border-radius: 5px;
        &:not(:first-child) {
          margin-left: 10px;
        }

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 27px;
          color: #3f3f3f;
        }

        .icon {
          stroke: #3f3f3f;
        }

        &:hover {
          background: #0e4194;

          .icon {
            stroke: #fff;
          }

          span {
            color: #fff;
          }
        }

        &:last-child {
          background: #2998ff;
          width: 185px;

          span {
            color: #fff;
          }
        }
      }
    }

    > h2 {
      margin: 55px 0 20px;
    }

    .serviceAccordion__body {
      &::before {
        display: none;
      }
    }
  }
}

.applicationAccordion {
  &::before {
    display: none;
  }

  .inputItems {
    display: flex;
    flex-wrap: wrap;

    .wrapInput {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 48%;
    }
  }
}

.buttonWrap {
  margin-top: 30px;
  margin-left: auto;
  display: block;
  max-width: 710px;
  width: 100%;

  button {
    max-width: 486px;
    width: 100%;
  }
}

.wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 30px;
}

.transmissionAccordion {
  padding: 20px 20px 40px 95px;

  ol {
    padding: 0;
    margin-bottom: 25px;

    li {
      margin-left: 15px;
      margin-bottom: 10px;
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #3f3f3f;
  }

  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;

    &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 30px;
      color: #3f3f3f;
    }
  }
}

.totalPrice {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-left: 35px;
  padding: 20px 20px 30px;
  max-width: 530px;
  width: 100%;

  > span {
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #3f3f3f;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .priceInfo {
      display: flex;
      align-items: center;

      svg {
        margin-left: 40px;
      }
    }
  }

  .result {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 70px 0 60px 60px;

    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      color: #3f3f3f;
      margin-right: 35px;
    }
  }

  button {
    margin: 0 auto;
  }
}

@media screen and(max-width: 1350px) {
  .totalPrice {
    padding: 15px 10px;
    > span {
    }

    &__item {
      > span {
        width: 130px;
      }
      .priceInfo {
        justify-content: end;
        svg {
          margin-left: 20px;
        }
      }
    }
    .result {
      margin: 25px 0 20px 75px;
      flex-direction: column;
      span {
        margin-right: 0;
      }
    }
  }
}

@media screen and(max-width: 1160px) {
  .applicationAccordion {
    .inputItems {
      flex-direction: column;

      .wrapInput {
        width: 100%;
      }
    }
  }
  .buttonWrap {
    margin-left: 0;
  }

  .serviceAccordion {
    &__container {
      max-width: 100%;
    }
  }

  .wrap {
    flex-direction: column;
  }

  .totalPrice {
    margin-top: 40px;
    margin-left: 0;
    max-width: 100%;
  }

  .styleTitle {
    font-size: 24px;
    line-height: 35px;
  }
}

@media screen and(max-width: 768px) {
  .styleTitle {
    font-style: 22px;
    line-height: 30px;
  }
  .serviceAccordion {
    &__container {
      .description {
        margin: 10px 0 15px;
        font-size: 16px;
        line-height: 24px;
      }
      > h2 {
        margin: 30px 0 20px;
      }
      .servicesItems {
        flex-direction: column;

        &__item {
          background: #fff;
          width: 100%;
          height: 40px;
          flex-direction: row;
          justify-content: start;
          margin-bottom: 20px;

          &:not(:first-child) {
            margin-left: 0;
          }
          &:hover {
            background: #fff;
            .icon {
              stroke: #2998ff;
            }

            span {
              color: #2998ff;
            }
          }

          span {
            margin-left: 40px;
          }
          &:active {
            span {
              color: #2998ff;
            }
          }

          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  .transmissionAccordion {
    padding: 0;

    ol {
      font-size: 14px;
      line-height: 21px;

      li {
        font-size: 14px;
        line-height: 21px;
      }
    }

    span {
      font-size: 18px;
      line-height: 30px;
    }

    .price {
      &__text {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}
