@font-face {
  font-family: "Circe", sans-serif;
  src: url("../assets/fonts/Circe-Bold.ttf");
}

@font-face {
  font-family: "Circe", sans-serif;
  src: url("../assets/fonts/Circe-ExtraBold.ttf");
}

@font-face {
  font-family: "Circe", sans-serif;
  src: url("../assets/fonts/Circe-Regular.ttf");
}
