.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  color: #3f3f3f;

  &__uppercase {
    text-transform: uppercase;
  }
}

.titleH2 {
  font-style: normal;
  font-size: 36px;
  line-height: 20px;
  color: #2f2f2f;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #3f3f3f;
  }
}

@media screen and (max-width: 993px) {
  .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 993px) {
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
  }
}
